html {
  font-family: helvetica, sans-serif;
  background-color: #e6e6e6;
}

.statement {
  color: #1f2179;
  margin: 2em 2em;
}

li {
  color: #fff;
  text-decoration: none;
}


.ul1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:#3291c9;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.li1 {
  float:right;
}

.li1 a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.img-curve {
  border-radius: 10px;
}

 a img:hover{
   background-color: #1f2179;
}

.navstate:hover, .navstate:active {
  background: #28a745;
}

footer {
  background-color: #3291c9;
}
 .resume {
   background-color: #333;
 }

.t1 {
  color: #fff;
}

.mermaid {
  max-height: 50%;
  max-width: 100%;
}

.m-section {
  background-color: #333;
}

.cookies {
  background-color: #f3f3f3;
}

.cookie2 {
  background-color: #f2f2f2;
}

.branding {
  background-color: #e6e6e6;
}

.tomoko-title {
  background-color: #e6e6e6;
}

.white {
  background-color: #fff;
}

.shadow {
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.shadow2 {
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.blue {
  background-color: #323A46;
}
