html {
  font-family: georgia, sans-serif;
}

.statement {
  color: #1f2179;
  margin: 0 2em;
}

.ul1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:#1f2179;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.li1 {
  float:right;
}

.li1 a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
